/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import 'scss/mixins/media-up';
@import 'scss/reset';
@import 'scss/grid';
@import 'scss/utilities';

body {
  font-family: 'Open Sans', sans-serif;
}

.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 999px;
}

button {
  background: #eee;
  border-radius: 0;
  padding: map-get($space, 2);
  cursor: pointer;
}