*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: none;
  border-spacing: 0;
  border-collapse: inherit;
  vertical-align: inherit;
}

html {
  scroll-behavior: smooth;
}
