*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*:focus {
  @apply outline-none;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: none;
}

html {
  scroll-behavior: smooth;
}
