.flex-no-wrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.fw-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}